body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .same {
    border: 1px solid black;
} */

#hi_main1 {
    display: flex;
    margin-bottom: -10px;
}

#hi_main2 {
    display: flex;
    margin-bottom: -10px;
}

#hi_third_navbar_inside {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 20px;
    margin: auto;

}

#hi_third_navbar {
    /* margin-top: -3px; */
    background-color: white;
}

.hi_maindiv {
    /* line-height: 0px */
    border-right: 0.5px solid rgb(238, 238, 238);
    /* border-right-h */
    /* padding: 10px; */
    padding-right: 10px;
    padding-left: 20px;
}


.hi_maindiv1 {
    display: flex;

}

#hi_second_navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #4a4a4a;
    color: white;
    font-size: 17px;
}

#hi_second_navbar_inside {
    width: 80%;
    display: flex;
    gap: 30px;
    /* justify-content: space-between; */
    align-items: center;
}


.hi_main1 {
    display: flex;
    margin-bottom: -18px;
    height: 50px;
    /* color: hi_maindiv1; */
    /* border: 1px solid; */
    font-size: 14px;

}

.hi_main2 {
    display: flex;
    height: 50px;
    font-size: 14px;
    margin-bottom: -18px;
    /* border: 1px solid; */
}
